<footer class="footer text-center py-2 theme-bg-dark">
              	 <form class="form-inline">
                                        <input type="text" class="form-control" placeholder="Enter your email address">
                                        <button type="submit" class="btn btn-primary">Subscribe</button>
                                    </form>

	 <small class="copyright">Designed & Developed  by <a href="https://linkedin.com/in/nikhil-nambiar-535848211" target="_blank">Nikhil S Nambiar</a> </small>
	    <ul>
			<a href="https://www.facebook.com/nikhil.nambiar.14" ><i class="fab fa-facebook-f facebook"></i>&nbsp</a>
			<a href="https://www.linkedin.com/in/nikhil-nambiar-535848211" ><i class="fab fa-instagram instagram"></i>&nbsp</a>
			<a href="https://www.linkedin.com/in/nikhil-nambiar-535848211" ><i class="fab fa-linkedin-in linkedin"></i></a>
		</ul>


</footer>